.bakgcalr {

    background: linear-gradient(90deg, rgb(211, 166, 243) 0%, rgb(255, 255, 255) 50%,
            rgb(243, 205, 155) 100%);
}

.text {
    color: rgb(235, 105, 65);
}

.topSobi {
    width: auto;
    height: 80px;
}

.customCSS {
    display: none;
}

