.bakgcalr {

    background: linear-gradient(90deg, rgb(208, 147, 252) 0%, rgb(243, 240, 240) 50%,
            rgb(253, 196, 121) 100%);
}

.text {
    color: rgb(235, 105, 65);
}

.topSobi {
    width: auto;
    height: 80px;
}
.customCSS{
    display: none;
}
